//fonts

$font_family: 'Roboto', serif;
$font-size-s: 12px;
$font-size-m: 20px;
$font-size-l: 24px;
$font-size-xl: 32px;
$font-bold: 700;
$font-normal:400;

//colors
$colorWhite: #fff;
$colorGrey: #999;
$colorDarkGrey: #666;
$colorLightGrey: #dfdfdf;
$colorMediumGrey: #eeeeee;
$colorBlue: #1481BA;
$colorGreen: #478e2b;
$colorOrange: #FE5D26;
$colorBlack: #000;
